/* 
 *
 * @link           https://fotografiamatematica.cat
 * @since          1.0.0
 * @package        fotomates-wp-plugin
 *
 * Version:        1.0.0
 * Author:         jorge - vitrubio.net
 * Author URI:     https://vitrubio.net/
 * License:        GPL 3.0
 * License URI:    https://www.gnu.org/licenses/gpl-3.0.html
 *
 * fotomates wp plugin styles
 *
 * css styles
 *
 */


:root{
 
} 
 
/*all screens and print*/
@media print, screen {
  /*
   * Links and menus
   * */
  .wp-block-navigation li:focus,
  .wp-block-navigation li a:focus {
    outline:  solid 0.1rem var(--wp--preset--color--base-2);
    background-color:  var(--wp--preset--color--base-2);
  }
  /*
   * Buttons
   * */
  .wp-block-buttons.small >.wp-block-button .wp-element-button,
  .wp-block-buttons.small >.wp-block-button .wp-block-button__link {
    padding: 0.375rem 0.875rem;
  }
  /*
   * Simple WordPress Membership
   * SWM
   * */
  .swpm-partial-protection-text {
    width: 0px;
    height: 0px;
    font-size: 0px;
    line-height: 0;
  }

  /*
   * Forms
   * wpcf7- contact form 7
   * swpm-  simple membership swpm-form
   * acf-   advanced custom forms
   * acf-   frontend form elements admin
   * @link https://wordpress.org/plugins/acf-frontend-form-element/
   * .lliurament-form used in acf
   * */
  .wpcf7-form .success,
  .swpm-form .success,
  .acf-form .success {
    color: rgb(0,180,0);
  }
  .wpcf7-form .error,
  .swpm-form .error,
  .acf-form .error {
    color: rgb(180,0,0);
  }
  .wpcf7-form .warning,
  .swpm-form .warning,
  .acf-form .warning {
    color: rgb(220,190,0);
  }

  .swpm-fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  .swpm-form-builder ul,
  .entry-content .swpm-form-builder ul,
  .comment-content .swpm-form-builder ul,
  .mu_register .swpm-form-builder ul,
  .swpm-form-builder ol,
  .entry-content .swpm-form-builder ol,
  .comment-content .swpm-form-builder ol,
  .mu_register .swpm-form-builder ol {
    margin: 0 !important;
    padding: 0;
  }
  .swpm-section-div {
    background-color: unset !important;
  }
  .lliurament-form .acf-field input[type="password"],
  .lliurament-form .acf-field input[type="email"],
  .lliurament-form .acf-field input[type="text"],
  .lliurament-form .acf-field textarea,
  .wpcf7-form input[type="text"],
  .wpcf7-form textarea,
  .swpm-login-form-inner input,
  .swpm-pw-reset-widget-form input,
  .swpm-form-builder-container input,
  .swpm-item input,
  .swpm-item textarea {
    padding: 1em;
    margin: 0.5em 0;
    width: calc(100% - 2em);
    font-size: inherit;
  }
  .swpm-form-builder-container input[type="checkbox"],
  .swpm-item input[type="checkbox"] {
    width: auto;
  }
  .swpm-section-div, 
  .swpm-span,
  .swpm-form-builder li div span.swpm-span,
  .swpm-form-builder [class*="swpm-span"],
  span.swpm-full input,
  span.swpm-full input[type="text"].swpm-medium,
  select, 
  span.swpm-full select {
    float: none;
  }
  .swpm-form-builder .swpm-legend,
  .swpm-form-builder .swpm-section-div h4 {
    border: none;
  }
  /*.swpm-span,*/
  .swpm-form-builder li div span.swpm-span,
  /*.swpm-form-builder [class*="swpm-span"],*/
  span.swpm-full input,
  span.swpm-full input[type="text"].swpm-medium,
  select, 
  span.swpm-full select, 
  .swpm-form-builder span.swpm-right input,
  .swpm-form-builder span.swpm-right input[type="text"],
  .swpm-form-builder span.swpm-right select,
  .swpm-form-builder span.swpm-left input,
  .swpm-form-builder span.swpm-left input[type="text"],
  .swpm-form-builder span.swpm-left select {
    /* rewrite swpm-form-builder-light.css*/
      width: calc(100% - 2em) !important;
  }
  input[type="text"] {
    border: 1px solid rgb(140,140,140);
  }
  select {
    min-width: 100%;
    margin: 0.5em 0;
    padding: 1em;
    background: white;
    border: 1px solid rgb(140,140,140);
    font-size: inherit;
  }
  .lliurament-form .acf-form input[type="submit"],
  .lliurament-form .acf-form input::file-selector-button,
  .wpcf7-form input[type="submit"],
  .wpcf7-form input::file-selector-button,
  .swpm-item input[type="submit"],
  .swpm-login-submit input[type="submit"], 
  .swpm-item input::file-selector-button,
  .swpm-pw-reset-submit-button input[type="submit"],
  .swpm-pw-reset-submit-button::file-selector-button,
  .acf-fields .fea-submit-button {
    width: auto;
    background: linear-gradient(0deg,rgb(255,119,34) 0%,rgb(255,87,0) 100%);
    background-color: rgba(0, 0, 0, 0);
    background-color: var(--wp--preset--color--contrast);
    border-radius: 100px;
    border-color: var(--wp--preset--color--contrast);
    border-width: 0;
    color: var(--wp--preset--color--base);
    font-family: var(--wp--preset--font-family--body);
    font-size: var(--wp--preset--font-size--small);
    font-style: normal;
    font-weight: 500;
    line-height: inherit;
    padding-top: 0.9rem;
    padding-right: 2rem;
    padding-bottom: 0.9rem;
    padding-left: 2rem;
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
  }

  .lliurament-form .acf-form input::ms-browse:hover,
  .lliurament-form .acf-form input::-webkit-file-upload-button:hover,
  .lliurament-form .acf-form input::file-selector-button:hover,
  .wpcf7-form input::ms-browse:hover,
  .wpcf7-form input::-webkit-file-upload-button:hover,
  .wpcf7-form input::file-selector-button:hover,
  .swpm-item input::ms-browse:hover,
  .swpm-item input::-webkit-file-upload-button:hover,
  .swpm-item input::file-selector-button:hover {
    background: linear-gradient(45deg,rgb(235,99,14) 0%,rgb(235,67,0) 100%);
  }
  .swpm-fieldset label {
    font-weight: bold;
    color: #333;
  }
  .swpm-form-builder-address-label-bottom label{
    font-weight: normal;
    color: #999;
  }
  .acf-form-fields .acf-checkbox-list li {
    float: left;
    padding-right: 0.5rem;
  }
  .single-fotomates-lliurament .acf-fields > .acf-field {
    padding: 0 ;
  }
  .single-fotomates-lliurament .acf-fields .fea-submit-button {
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
  }
  .single-fotomates-lliurament .acf-label {
    font-size: 1.2rem !important;
    color: #b23b00;
    font-family: var(--wp--preset--font-family--heading);
  }
  /*
   * Lliurament Contingut
   * */
  .fotomates-lliurament h2,
  .fotomates-lliurament h3 {
    flex-basis: min(4rem);
    align-content: flex-end;
    font-size: 1.2rem !important;
    font-weight: 700;
  }
  .lliurament-contingut p > a {
    line-break: anywhere;
  }
  .is-style-pill a {
    display: inline-block;
    background-color: var(--wp--preset--color--base-2);
    padding: 0.375rem 0.875rem;
    border-radius: var(--wp--preset--spacing--20);
  }
  body.archive .lliurament-contingut a[href$="jpg"],
  body.archive .lliurament-contingut a[href$="jpeg"],
  body.archive .lliurament-contingut a[href$="png"],
  body.page-template-default .lliurament-contingut a[href$="jpg"],
  body.page-template-default .lliurament-contingut a[href$="jpeg"],
  body.page-template-default .lliurament-contingut a[href$="png"],
  body:not(.single-fotomates-lliurament) .taxonomy-fotomates-lliurament-category,
  body:not(.single-fotomates-lliurament) .taxonomy-fotomates-lliurament-tag,
  body:not(.single-fotomates-lliurament) .taxonomy-fotomates-lliurament-seleccio
  {
    font-size: 0px;
    line-height: 0;
    display: block;
  }

}
/*smaller than screen <= 768px */
@media screen and (max-width: 768px) {
}
/*smaller than screen >= 768px */
@media screen and (min-width: 768px) {
  /*
  .wp-site-blocks {
    padding-top: 0rem;
    padding-top: var(--wp--style--root--padding-top);
  }
  */
 .error404 .wp-site-blocks main {
      padding-top: 10rem !important;
      margin-top: 0 !important;
  }
  .wp-site-blocks > header.wp-block-template-part {
    position: fixed;
    width: 100%;
    z-index: 900;
    /*box-shadow: 0px 5px 20px #ccc;*/
    box-shadow: 0px 5px 20px var(--wp--preset--color--base) !important;
   }
   /**
    * menus
    */
   .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
    background-color: var(--wp--preset--color--base) !important;
    border: none; 
    box-shadow: 0px 5px 20px var(--wp--preset--color--base-2) !important;
  }
  .wp-site-blocks > main {
    margin-top:0;
  }
  /**
   * lliuraments grid view
   */
  h4.wp-block-post-title {
      min-height: 4.8rem;
      align-items: end;
      display: flex;
      margin-bottom: 0;
      font-size: 1.3rem;
      margin-top: 0;
  }
  /**
   * lliurament pagination
   */
  .single-fotomates-lliurament .pagination {
    position: fixed;
    top: 50vh;
    width: 99vw;
    padding: 0 2vw;
  }
  .single-fotomates-lliurament .pagination .wp-block-post-navigation-link a {
   font-size: 0.7rem;
      color:
  }
/*smaller than screen <= 781px */
@media screen and (max-width: 781px) {
}
/*bigger screen >= 782px */
@media screen and (min-width: 782px) {
}
 
/*smaller than screen <= 1024px */
@media screen and (max-width: 1024px) {
}
/*bigger than screen >= 1024px */
@media screen and (min-width: 1024px) {
}
 
/*smaller than screen <= 1200px */
@media screen and (max-width: 1200px) {
 
}
/*bigger than screen >= 1200px */
@media screen and (min-width: 1200px) {
}
 
/*bigger than screen >= 1440px */
@media screen and (min-width: 1440px) {
}  
